.container {
	display: flex;
	align-items: center;
}

.container #speed-slider-value {
	width: 30px;
	text-align: center;
}

#result-speed-slider {
	width: 100%;
}

.container #speed-slider {
	width: 200px;
}
