.container {
	display: flex;
	align-items: center;
}

.container #speed-slider-value {
	width: 35px;
	text-align: center;
}

#result-speed-number {
	width: 100%;
}

.container #speed-slider {
	width: 200px;
}
